<div class="overlay" [class.hide-overlay]="hideOverlay" [class.show-overlay]="!hideOverlay"></div>

<div class="u-header__section u-header__section--light g-bg-white g-transition-0_3" style="z-index: 99">
  <nav class="navbar navbar-expand-lg g-pb-0">
    <div class="container">
      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row g-pt-0--lg d-flex divider-solid-bottom">
        <ul class="navbar-nav full-width justify-content-center font-cg-bold" style="z-index: 999;">
          <!-- Categories - Mega Menu -->
          <li class="nav-item g-mx-10--lg g-mx-15--xl g-pa-10 pointer">
            <a class="nav-link g-color-secondary g-py-0">
              Sale
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl g-pa-10 pointer" (mouseenter)="enterHeader('newArrival')" (mouseleave)="leaveHeader('newArrival')">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-pa-0">
              New Arrival
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl g-pa-10 pointer" (mouseenter)="enterHeader('clothing')" (mouseleave)="leaveHeader('clothing')">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-pa-0">
              Clothing
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl g-pa-10 pointer" (mouseenter)="enterHeader('shoes')" (mouseleave)="leaveHeader('shoes')">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-pa-0">
              Shoes
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl g-pa-10 pointer" (mouseenter)="enterHeader('sport')" (mouseleave)="leaveHeader('sport')">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-pa-0">
              Sport
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl g-pa-10 pointer" (mouseenter)="enterHeader('accessoriesAndBags')" (mouseleave)="leaveHeader('accessoriesAndBags')">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-pa-0">
              Accessories & Bags
            </a>
          </li>
        </ul>
      </div>
      <!-- End Navigation -->
    </div>
  </nav>
</div>

<div class="container g-relative">
  <!-- new arrival -->
  <div class="w-100 u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-absolute g-z-index-9999"
    [@expandCollapse]="validateAnimationState('newArrival')" (mouseenter)="enterContent('newArrival')" (mouseleave)="leaveContent('newArrival')">
    <div class="row">
      <div class="col-md-4 g-mb-30 g-mb-0--md">
        <!-- Article -->
        <article class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-bluegray-opacity-0_3--after text-center g-px-40 g-py-80"
          style="background-image: url('../assets/img/new_arrival/gant_1.jpg')">
          <div class="g-pos-rel g-z-index-1">
            <span class="d-block g-color-white g-font-weight-400 text-uppercase mb-3">GANT</span>
            <span class="d-block h2 g-color-white mb-4">Sweater</span>
            <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20"
              href="#!">Shop Now</a>
          </div>
        </article>
        <!-- End Article -->
      </div>

      <div class="col-md-4 g-mb-30 g-mb-0--md">
        <!-- Article -->
        <article class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-bluegray-opacity-0_3--after text-center g-px-40 g-py-80"
          style="background-image: url('../assets/img/new_arrival/tiger_1.jpg')">
          <div class="g-pos-rel g-z-index-1">
            <span class="d-block g-color-white g-font-weight-400 text-uppercase mb-3">Tiger of Sweden</span>
            <span class="d-block h2 g-color-white mb-4">Mark Shoe</span>
            <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20"
              href="#!">Shop Now</a>
          </div>
        </article>
        <!-- End Article -->
      </div>

      <div class="col-md-4 g-mb-30 g-mb-0--md">
        <!-- Article -->
        <article class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-bluegray-opacity-0_3--after text-center g-px-40 g-py-80"
          style="background-image: url('../assets/img/new_arrival/desiel_1.jpg')">
          <div class="g-pos-rel g-z-index-1">
            <span class="d-block g-color-white g-font-weight-400 text-uppercase mb-3">Desiel</span>
            <span class="d-block h2 g-color-white mb-4">Belther Tapered</span>
            <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20"
              href="#!">Shop Now</a>
          </div>
        </article>
        <!-- End Article -->
      </div>
    </div>
  </div>

  <!-- clothing -->
  <div class="w-100 u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-absolute g-z-index-9999"
    [@expandCollapse]="validateAnimationState('clothing')" (mouseenter)="enterContent('clothing')" (mouseleave)="leaveContent('clothing')">
    <div class="row">
      <div class="col-sm-6 col-lg-2 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="">
          <span class="d-block g-font-weight-500 text-uppercase mb-2 font-cg-bold">News</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Spring Deals</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">SALE</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Last Chance</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Best Selling</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Party</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Scandinavian Touch</a>
            </li>
          </ul>
        </div>
        <!-- End Links -->
      </div>

      <div class="col-sm-6 col-lg-3 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="">
          <span class="d-block g-font-weight-500 text-uppercase mb-2 font-cg-bold">Categories</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">View All</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Tops</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Shirts</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">T-Shirts</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Jackets</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Outerwear</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Trousers</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Jeans</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Shorts</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Swimwear</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Socks</a>
            </li>
          </ul>
        </div>
        <!-- End Links -->
      </div>

      <div class="col-sm-6 col-lg-3 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="">
          <span class="d-block g-font-weight-500 text-uppercase mb-2 font-cg-bold">Popular Today</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">SHOPi Discounts</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">News &amp; updates</a>
            </li>
          </ul>
          <div class="g-bg-orange font-white g-px-5 w-70 font-cg-bold">Your 10% Discount: 57G4V1S</div>
        </div>
        <!-- End Links -->
      </div>

      <div class="col-md-6 col-lg-4 g-mb-30 g-mb-0--md">
        <article class="g-pos-rel">
          <img class="img-fluid" src="../assets/img/clothes/clothes_1.jpg" alt="">

          <div class="g-pos-abs g-bottom-30 g-left-30">
            <span class="d-block font-white mb-2">
              <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">Freaky Nation</span>
            </span>
            <span class="d-block font-white h4">
              <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">DAVIDSON - Leather jacket</span>
            </span>
            <span class="d-block font-white g-font-size-16 mb-4">
              <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">2 500 kr</span>
            </span>
            <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20 font-cg-bold"
              href="#!">Add to Cart</a>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- shoes -->
  <div class="w-100 u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-absolute g-z-index-9999"
    [@expandCollapse]="validateAnimationState('shoes')" (mouseenter)="enterContent('shoes')" (mouseleave)="leaveContent('shoes')">
    <div class="row no-gutters">
      <div class="col-md-4 g-mb-30 g-mb-0--md">
        <div class="g-pa-30">
          <!-- Links -->
          <span class="d-block g-font-weight-500 text-uppercase mb-2">Categories</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">View All</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Sneakers</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Boots</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Casual Shoes</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Business</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Loafers</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Sandals</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Accessories</a>
            </li>
          </ul>
          <!-- End Links -->
        </div>
      </div>

      <div class="col-md-8 g-min-height-400 g-bg-size-cover g-bg-pos-center" style="background-image: url('../assets/img/shoes/business_shoes_1.jpg')">
        <article class="g-pa-30">
          <span class="d-block g-color-white-opacity-0_8 text-uppercase mb-2">
            <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">Bestseller</span>
          </span>
          <span class="d-block h1 g-color-white">
            <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">CARMONS - Elegant</span>
          </span>
          <span class="d-block g-color-primary g-font-weight-700 g-font-size-25">2 750 kr</span>
          <a class="u-link-v2" href="#!"></a>
        </article>
      </div>
    </div>
  </div>

  <!-- sports -->
  <div class="w-100 u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-absolute g-z-index-9999"
    [@expandCollapse]="validateAnimationState('sport')" (mouseenter)="enterContent('sport')" (mouseleave)="leaveContent('sport')">
    <div class="row">
      <div class="col-sm-6 col-lg-2 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="">
          <span class="d-block g-font-weight-500 text-uppercase mb-2 font-cg-bold">Shop By</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Sports News</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Sports SALE</a>
            </li>
          </ul>
        </div>
        <!-- End Links -->
      </div>

      <div class="col-sm-6 col-lg-3 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="">
          <span class="d-block g-font-weight-500 text-uppercase mb-2 font-cg-bold">Categories</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">View All</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Outerwear</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Tops</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Bottoms</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Underwear</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Base Layer</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Sports Swimwear</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Shoes</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Bags</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Accessories</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Socks</a>
            </li>
          </ul>
        </div>
        <!-- End Links -->
      </div>

      <div class="col-sm-6 col-lg-3 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="">
          <span class="d-block g-font-weight-500 text-uppercase mb-2 font-cg-bold">Popular Today</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">SHOPi Discounts</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">News &amp; updates</a>
            </li>
          </ul>
          <div class="g-bg-orange font-white g-px-5 w-70 font-cg-bold">Your 10% Discount: 57G4V1S</div>
        </div>
        <!-- End Links -->
      </div>

      <div class="col-md-6 col-lg-4 g-mb-30 g-mb-0--md">
        <article class="g-pos-rel">
          <img class="img-fluid" src="../assets/img/sport/sport_1.jpg" alt="">

          <div class="g-pos-abs g-bottom-30 g-left-30">
            <span class="d-block font-white mb-2">
              <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">NEWLINE</span>
            </span>
            <span class="d-block font-white h4">
              <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">Jumpmaster Warm Shirt </span>
            </span>
            <span class="d-block font-white g-font-size-16 mb-4">
              <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">750 kr</span>
            </span>
            <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20 font-cg-bold"
              href="#!">Add to Cart</a>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- bags -->
  <div class="w-100 u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-absolute g-z-index-9999"
    [@expandCollapse]="validateAnimationState('accessoriesAndBags')" (mouseenter)="enterContent('accessoriesAndBags')" (mouseleave)="leaveContent('accessoriesAndBags')">
    <div class="row no-gutters">
      <div class="col-md-4 g-mb-30 g-mb-0--md">
        <div class="g-pa-30">
          <!-- Links -->
          <span class="d-block g-font-weight-500 text-uppercase mb-2">Categories</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">View All</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Bags</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Sunglasses</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Scarves</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Hats &amp; Caps</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Wallets</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Belts</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Jewellery</a>
            </li>
          </ul>
          <!-- End Links -->
        </div>
      </div>

      <div class="col-md-8 g-min-height-400 g-bg-size-cover g-bg-pos-center" style="background-image: url('../assets/img/bags/bag_1.jpg')">
        <article class="g-pa-30">
          <span class="d-block g-color-white-opacity-0_8 text-uppercase mb-2">
            <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">Bestseller</span>
          </span>
          <span class="d-block h1 g-color-white">
            <span class="g-bg-orange-opacity-0_5  g-pa-5 font-cg-bold">HERSCHEL - Dawson - BAGS</span>
          </span>
          <span class="d-block g-color-primary g-font-weight-700 g-font-size-25">1 150 kr</span>
          <a class="u-link-v2" href="#!"></a>
        </article>
      </div>
    </div>
  </div>
</div>

<!-- Revolution Slider -->
<div class="g-overflow-hidden">
  <div id="rev_slider_1086_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="woobig1" data-source="gallery"
    style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
    <div #slider id="rev_slider_1086_1" class="rev_slider fullwidthabanner" data-version="5.4.1">
      <ul>
        <!-- SLIDE  -->
        <li data-index="rs-3076" data-transition="slideremovehorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
          data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="assets/img-temp/1920x1080/img5.jpg"
          data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"
          data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
          data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="../../assets/img/bg/secondary.png" alt="Image description" data-lazyload="assets/img-temp/1920x1080/img5.jpg" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-3076-layer-1" data-x="['left','left','left','left']"
            data-hoffset="['30','30','30','30']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-width="['430','430','430','420']"
            data-height="540" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1200,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]" style="z-index: 5;text-transform:left;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption Woo-TitleLarge   tp-resizeme" id="slide-3076-layer-2" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['60','60','60','60']" data-width="370" data-height="none" data-whitespace="normal"
            data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">Premium Computer Hardware
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption Woo-Rating   tp-resizeme" id="slide-3076-layer-6" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['160','160','160','160']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star-o" style="color:#ccc;"></i>
            (3 customer reviews)
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption Woo-Rating   tp-resizeme" id="slide-3076-layer-9" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['225','225','225','225']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio.
          </div>

          <!-- LAYER NR. 5 -->
          <div class="tp-caption Woo-SubTitle   tp-resizeme" id="slide-3076-layer-10" data-x="['left','left','left','left']" data-hoffset="['60','59','59','55']"
            data-y="['top','top','top','top']" data-voffset="['350','350','350','350']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">STARTING FROM
          </div>

          <!-- LAYER NR. 6 -->
          <div class="tp-caption Woo-PriceLarge   tp-resizeme" id="slide-3076-layer-11" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['380','380','380','380']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; min-width: 370px; max-width: 370px; white-space: normal; font-size: 40px; line-height: 40px;text-transform:left;">$399.00
          </div>

          <!-- LAYER NR. 7 -->
          <div class="tp-caption Woo-ProductInfo rev-btn  tp-resizeme g-brd-gray-light-v4 g-bg-secondary" id="slide-3076-layer-14"
            data-x="['left','left','left','left']" data-hoffset="['139','139','139','132']" data-y="['top','top','top','top']"
            data-voffset="['449','449','449','450']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(221, 221, 221, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 11; white-space: nowrap;text-transform:left;background-color:rgba(238, 238, 238, 1.00);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            <i class="pe-7s-look" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Product Info
          </div>

          <!-- LAYER NR. 8 -->
          <div class="tp-caption Woo-AddToCart rev-btn  tp-resizeme g-brd-primary g-color-white g-bg-primary" id="slide-3076-layer-13"
            data-x="['left','left','left','left']" data-hoffset="['142','142','142','137']" data-y="['top','top','top','top']"
            data-voffset="['500','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(243, 168, 71, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 12; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            <i class="pe-7s-cart" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Add to Cart
          </div>
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-3077" data-transition="slideremovehorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
          data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="assets/img-temp/1920x1080/img6.jpg"
          data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
          data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="assets/img/bg/secondary.png" alt="Image description" data-lazyload="assets/img-temp/1920x1080/img6.jpg" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">
          <!-- LAYERS -->

          <!-- LAYER NR. 9 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-3077-layer-1" data-x="['left','left','left','left']"
            data-hoffset="['30','30','30','30']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-width="['430','430','430','420']"
            data-height="540" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1200,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]" style="z-index: 13;text-transform:left;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>

          <!-- LAYER NR. 10 -->
          <div class="tp-caption Woo-TitleLarge   tp-resizeme" id="slide-3077-layer-2" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['60','60','60','60']" data-width="370" data-height="none" data-whitespace="normal"
            data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">Tivolli Audio Radio
          </div>

          <!-- LAYER NR. 11 -->
          <div class="tp-caption Woo-Rating   tp-resizeme" id="slide-3077-layer-6" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['160','160','160','160']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star-o" style="color:#ccc;"></i>
            (3 customer reviews)
          </div>

          <!-- LAYER NR. 12 -->
          <div class="tp-caption Woo-Rating   tp-resizeme" id="slide-3077-layer-9" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['225','225','225','225']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio.
          </div>

          <!-- LAYER NR. 13 -->
          <div class="tp-caption Woo-SubTitle   tp-resizeme" id="slide-3077-layer-10" data-x="['left','left','left','left']" data-hoffset="['60','59','59','55']"
            data-y="['top','top','top','top']" data-voffset="['350','350','350','350']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">STARTING FROM
          </div>

          <!-- LAYER NR. 14 -->
          <div class="tp-caption Woo-PriceLarge   tp-resizeme" id="slide-3077-layer-11" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['380','380','380','380']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18; min-width: 370px; max-width: 370px; white-space: normal; font-size: 40px; line-height: 40px;text-transform:left;">$199.00
          </div>

          <!-- LAYER NR. 15 -->
          <div class="tp-caption Woo-ProductInfo rev-btn  tp-resizeme g-brd-gray-light-v4 g-bg-secondary" id="slide-3077-layer-14"
            data-x="['left','left','left','left']" data-hoffset="['139','139','139','132']" data-y="['top','top','top','top']"
            data-voffset="['449','449','449','450']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(221, 221, 221, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 19; white-space: nowrap;text-transform:left;background-color:rgba(238, 238, 238, 1.00);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            <i class="pe-7s-look" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Product Info
          </div>

          <!-- LAYER NR. 16 -->
          <div class="tp-caption Woo-AddToCart rev-btn  tp-resizeme g-brd-primary g-color-white g-bg-primary" id="slide-3077-layer-13"
            data-x="['left','left','left','left']" data-hoffset="['142','142','142','137']" data-y="['top','top','top','top']"
            data-voffset="['500','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(243, 168, 71, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 20; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            <i class="pe-7s-cart" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Add to Cart
          </div>
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-3078" data-transition="slideremovehorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
          data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="assets/img-temp/1920x1080/img4.jpg"
          data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
          data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="assets/img/bg/secondary.png" alt="Image description" data-lazyload="assets/img-temp/1920x1080/img4.jpg" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">
          <!-- LAYERS -->

          <!-- LAYER NR. 17 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-3078-layer-1" data-x="['left','left','left','left']"
            data-hoffset="['30','30','30','30']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-width="['430','430','430','420']"
            data-height="540" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1200,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]" style="z-index: 21;text-transform:left;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>

          <!-- LAYER NR. 18 -->
          <div class="tp-caption Woo-TitleLarge   tp-resizeme" id="slide-3078-layer-2" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['60','60','60','60']" data-width="370" data-height="none" data-whitespace="normal"
            data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 22; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">Cream Tube
          </div>

          <!-- LAYER NR. 19 -->
          <div class="tp-caption Woo-Rating   tp-resizeme" id="slide-3078-layer-6" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['160','160','160','160']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 23; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star" style="color:#ffc321;"></i>
            <i class="fa fa-star-o" style="color:#ccc;"></i>
            (3 customer reviews)
          </div>

          <!-- LAYER NR. 20 -->
          <div class="tp-caption Woo-Rating   tp-resizeme" id="slide-3078-layer-9" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['225','225','225','225']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 24; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio.
          </div>

          <!-- LAYER NR. 21 -->
          <div class="tp-caption Woo-SubTitle   tp-resizeme" id="slide-3078-layer-10" data-x="['left','left','left','left']" data-hoffset="['60','59','59','55']"
            data-y="['top','top','top','top']" data-voffset="['350','350','350','350']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 25; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">STARTING FROM
          </div>

          <!-- LAYER NR. 22 -->
          <div class="tp-caption Woo-PriceLarge   tp-resizeme" id="slide-3078-layer-11" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['380','380','380','380']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 26; min-width: 370px; max-width: 370px; white-space: normal; font-size: 40px; line-height: 40px;text-transform:left;">$79.95
          </div>

          <!-- LAYER NR. 23 -->
          <div class="tp-caption Woo-ProductInfo rev-btn  tp-resizeme g-brd-gray-light-v4 g-bg-secondary" id="slide-3078-layer-14"
            data-x="['left','left','left','left']" data-hoffset="['139','139','139','132']" data-y="['top','top','top','top']"
            data-voffset="['449','449','449','450']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(221, 221, 221, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 27; white-space: nowrap;text-transform:left;background-color:rgba(238, 238, 238, 1.00);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            <i class="pe-7s-look" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Product Info
          </div>

          <!-- LAYER NR. 24 -->
          <div class="tp-caption Woo-AddToCart rev-btn  tp-resizeme g-brd-primary g-color-white g-bg-primary" id="slide-3078-layer-13"
            data-x="['left','left','left','left']" data-hoffset="['142','142','142','137']" data-y="['top','top','top','top']"
            data-voffset="['500','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(243, 168, 71, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 28; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            <i class="pe-7s-cart" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Add to Cart
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
</div>
<!-- End Revolution Slider -->

svdncm