<app-common-header (change)="onHeaderChanged($event)"></app-common-header>
<!-- Promo Block -->

<div class="container g-pt-100 g-pb-40" [style.background-image]="collectionHeader">
    <div class="g-mb-50">
        <span class="d-block g-color-white-opacity-0_8 g-font-weight-300 g-font-size-20">SHOPi</span>
        <h3 class="g-color-white g-font-size-50 g-font-size-50 g-line-height-1_2 mb-0">Men Clothes Collection</h3>
    </div>

    <div class="d-flex justify-content-end">
        <ul class="u-list-inline g-bg-gray-dark-v1 g-font-weight-300 g-rounded-50 g-py-5 g-px-20">
            <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-white g-color-primary--hover" routerLink="/">Home</a>
                <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-white g-color-primary--hover" outerLink="/">{{getType()}}</a>
                <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary g-font-weight-400">
                <span>Clothes Collection</span>
            </li>
        </ul>
    </div>
</div>
<!-- End Promo Block -->

<!-- Products -->
<div class="container">
    <div class="row">
        <!-- Content -->
        <div class="col-md-9 order-md-2">
            <div class="g-pl-15--lg">
                <!-- Filters -->
                <div class="d-flex justify-content-left align-items-center g-brd-bottom g-brd-gray-light-v4 g-pt-40 g-pb-20">
                    <!-- Show -->
                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 150px">
                                <mat-select placeholder="Brands" [formControl]="brandControl" multiple>
                                    <mat-select-trigger>
                                        {{brandControl.value ? brandControl.value[0] : ''}}
                                        <span *ngIf="brandControl.value?.length > 1" class="additional-selection">
                                            (+{{brandControl.value.length - 1}} others)
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let brand of brandsList" [value]="brand">{{brand}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 100px">
                                <mat-select placeholder="Size" [formControl]="sizeControl" multiple>
                                    <mat-optgroup *ngFor="let group of sizeGroups" [label]="group.name" [disabled]="group.disabled">
                                        <mat-option *ngFor="let size of group.size" [value]="size">
                                            {{ size }}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 130px">
                                <mat-select placeholder="Colors" [formControl]="colorControl" multiple>
                                    <mat-select-trigger>
                                        {{colorControl.value ? colorControl.value[0] : ''}}
                                        <span *ngIf="colorControl.value?.length > 1" class="additional-selection">
                                            (+{{colorControl.value.length - 1}} others)
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let color of colorsList" [value]="color.name">
                                        <span class="bg-products-colors" [style.background-color]="color.code"></span>{{color.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 100px">
                                <mat-select [(value)]="perPage" placeholder="Per Page">
                                    <mat-option [value]="35">35</mat-option>
                                    <mat-option [value]="70">70</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mb-20 g-width-150">
                        <div class="text-center">
                            <app-price-slider [currency]="priceCurrency" [min]="minPrice" [max]="maxPrice" [priceRange]="priceRange"></app-price-slider>
                        </div>
                    </div>
                    <div class="g-mr-10">
                        <div class="d-flex justify-content-end d-inline-block btn-group g-line-height-1_2" style="top: 20px; left: 0px; width: 100%; position: absolute; z-index: -1;">
                            <ul class="list-inline mb-0">
                                <li class="g-mb-5">
                                    <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v3 g-brd-black--hover g-color-gray-dark-v5 g-color-black--hover" href="page-list-filter-left-sidebar-1.html">
                                        <i class="icon-list"></i>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="u-icon-v2 u-icon-size--xs g-brd-primary g-color-primary" href="page-grid-filter-left-sidebar-1.html">
                                        <i class="icon-grid"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Filters -->

                <!-- Products -->
                <div class="row g-pt-30 g-mb-50">
                    <app-common-product class="row g-ml-5" [products]="products" (selectedProduct)="onProductSelected($event)"></app-common-product>
                </div>
                <!-- End Products -->

                <hr class="g-mb-60">

                <!-- Pagination -->
                <nav class="g-mb-100" aria-label="Page Navigation">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item hidden-down">
                            <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5"
                                href="#!">1</a>
                        </li>
                        <li class="list-inline-item hidden-down">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                                href="#!">2</a>
                        </li>
                        <li class="list-inline-item g-hidden-xs-down">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                                href="#!">3</a>
                        </li>
                        <li class="list-inline-item hidden-down">
                            <span class="g-width-30 g-height-30 g-color-gray-dark-v5 g-font-size-12 rounded-circle g-pa-5">...</span>
                        </li>
                        <li class="list-inline-item g-hidden-xs-down">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                                href="#!">15</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5 g-ml-15"
                                href="#!" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="list-inline-item float-right">
                            <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page 1 of 15</span>
                        </li>
                    </ul>
                </nav>
                <!-- End Pagination -->
            </div>

        </div>
        <!-- End Content -->

        <!-- Filters -->
        <div class="col-md-3 order-md-1 g-brd-right--lg g-brd-gray-light-v4 g-pt-20">
            <div class="g-pr-15--lg">
                <a id="mega-menu-label-3" class="d-flex justify-content-center nav-link text-uppercase g-color-primary--hover g-px-5 g-font-size-16 font-cg-bold"
                    style="margin-top: 4px">
                    Clothing
                </a>
                <hr style="margin-top: 1.4rem;">
                <mat-accordion>

                    <mat-expansion-panel expanded="true" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-cg-bold">
                                View All
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-cg-bold">
                                Tops
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-categories-labels [collection]="topsCollection"></app-categories-labels>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle="true">
                        <mat-expansion-panel-header class="font-cg-bold">
                            <mat-panel-title>
                                Outerwear
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-categories-labels [collection]="outerwareCollection"></app-categories-labels>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle="true">
                        <mat-expansion-panel-header class="font-cg-bold">
                            <mat-panel-title>
                                Suits & Blazers
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-categories-labels [collection]="suitsCollection"></app-categories-labels>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle="true">
                        <mat-expansion-panel-header class="font-cg-bold">
                            <mat-panel-title>
                                Trousers
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-categories-labels [collection]="trousersCollection"></app-categories-labels>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle="true">
                        <mat-expansion-panel-header class="font-cg-bold">
                            <mat-panel-title>
                                Jeans
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-categories-labels [collection]="jeansCollection"></app-categories-labels>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <!-- End Filters -->
    </div>
</div>
<!-- End Products -->
<app-common-footer></app-common-footer>