<app-common-header (change)="onHeaderChanged($event)"></app-common-header>
<!-- Promo Block -->

<div class="container g-pt-100 g-pb-40" [style.background-image]="collectionHeader">
    <div class="g-mb-50">
        <span class="d-block g-color-white-opacity-0_8 g-font-weight-300 g-font-size-20">SHOPi</span>
        <h3 class="g-color-white g-font-size-50 g-font-size-50 g-line-height-1_2 mb-0">Men Clothes Collection</h3>
    </div>

    <div class="d-flex justify-content-end">
        <ul class="u-list-inline g-bg-gray-dark-v1 g-font-weight-300 g-rounded-50 g-py-5 g-px-20">
            <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-white g-color-primary--hover" routerLink="/">Home</a>
                <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-white g-color-primary--hover" outerLink="/">{{getType()}}</a>
                <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary g-font-weight-400">
                <span>Clothes Collection</span>
            </li>
        </ul>
    </div>
</div>
<!-- End Promo Block -->

<!-- Products -->
<div class="container">
    <div class="row">
        <!-- Content -->
        <div class="col-md-9 order-md-2">
            <div class="g-pl-15--lg">
                <!-- Filters -->
                <div class="d-flex justify-content-left align-items-center g-brd-bottom g-brd-gray-light-v4 g-pt-40 g-pb-20">
                    <!-- Show -->
                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 150px">
                                <mat-select placeholder="Brands" [formControl]="brandControl" multiple>
                                    <mat-select-trigger>
                                        {{brandControl.value ? brandControl.value[0] : ''}}
                                        <span *ngIf="brandControl.value?.length > 1" class="additional-selection">
                                            (+{{brandControl.value.length - 1}} others)
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let brand of brandsList" [value]="brand">{{brand}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 100px">
                                <mat-select placeholder="Size" [formControl]="sizeControl" multiple>
                                    <mat-optgroup *ngFor="let group of sizeGroups" [label]="group.name" [disabled]="group.disabled">
                                        <mat-option *ngFor="let size of group.size" [value]="size">
                                            {{ size }}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 130px">
                                <mat-select placeholder="Colors" [formControl]="colorControl" multiple>
                                    <mat-select-trigger>
                                        {{colorControl.value ? colorControl.value[0] : ''}}
                                        <span *ngIf="colorControl.value?.length > 1" class="additional-selection">
                                            (+{{colorControl.value.length - 1}} others)
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let color of colorsList" [value]="color.name">
                                        <span class="bg-products-colors" [style.background-color]="color.code"></span>{{color.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mr-10">
                        <div class="d-inline-block btn-group g-line-height-1_2">
                            <mat-form-field style="width: 100px">
                                <mat-select [(value)]="perPage" placeholder="Per Page">
                                    <mat-option [value]="35">35</mat-option>
                                    <mat-option [value]="70">70</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="g-mb-20 g-width-150">
                        <div class="text-center">
                            <app-price-slider [currency]="priceCurrency" [min]="minPrice" [max]="maxPrice" [priceRange]="priceRange"></app-price-slider>
                        </div>
                    </div>
                    <div class="g-mr-10">
                        <div class="d-flex justify-content-end d-inline-block btn-group g-line-height-1_2" style="top: 20px; left: 0px; width: 100%; position: absolute;">
                            <ul class="list-inline mb-0">
                                <li class="g-mb-5">
                                    <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v3 g-brd-black--hover g-color-gray-dark-v5 g-color-black--hover" href="page-list-filter-left-sidebar-1.html">
                                        <i class="icon-list"></i>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="u-icon-v2 u-icon-size--xs g-brd-primary g-color-primary" href="page-grid-filter-left-sidebar-1.html">
                                        <i class="icon-grid"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Filters -->

                <!-- Products -->
                <div class="row g-pt-30 g-mb-50">
                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img1.jpg" alt="Image Description">

                            <figcaption class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                                <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover" href="#!">New Arrival</a>
                            </figcaption>
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Summer shorts
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Man</a>
                                <span class="d-block g-color-black g-font-size-17">$52.00</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img2.jpg" alt="Image Description">

                            <span class="u-ribbon-v1 g-width-40 g-height-40 g-color-white g-bg-primary g-font-size-13 text-center text-uppercase g-rounded-50x g-top-10 g-right-minus-10 g-px-2 g-py-10">-40%</span>
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Stylish shirt
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Woman</a>
                                <span class="d-block g-color-black g-font-size-17">$99.00</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img3.jpg" alt="Image Description">

                            <figcaption class="w-100 g-bg-lightred text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                                <span class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1">Sold Out</span>
                            </figcaption>
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Classic jacket
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Man</a>
                                <span class="d-block g-color-black g-font-size-17">$49.99</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img4.jpg" alt="Image Description">
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Wool lined parka
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Woman</a>
                                <span class="d-block g-color-black g-font-size-17">$82.37</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img5.jpg" alt="Image Description">

                            <figcaption class="w-100 g-bg-lightred text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                                <span class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1">Sold Out</span>
                            </figcaption>
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Hooded jeans
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Man</a>
                                <span class="d-block g-color-black g-font-size-17">$35.99</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img6.jpg" alt="Image Description">
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Waterproof jacket
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Woman</a>
                                <span class="d-block g-color-black g-font-size-17">$105.99</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img7.jpg" alt="Image Description">

                            <span class="u-ribbon-v1 g-width-40 g-height-40 g-color-white g-bg-primary g-font-size-13 text-center text-uppercase g-rounded-50x g-top-10 g-right-minus-10 g-px-2 g-py-10">-40%</span>

                            <figcaption class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                                <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover" href="#!">New Arrival</a>
                            </figcaption>
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Classic T-shirt
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Man</a>
                                <span class="d-block g-color-black g-font-size-17">$11.00</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img8.jpg" alt="Image Description">
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Blue skirt
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Woman</a>
                                <span class="d-block g-color-black g-font-size-17">$34.00</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>

                    <div class="col-6 col-lg-4 g-mb-30">
                        <!-- Product -->
                        <figure class="g-pos-rel g-mb-20">
                            <img class="img-fluid" src="assets/img-temp/480x700/img9.jpg" alt="Image Description">
                        </figure>

                        <div class="media">
                            <!-- Product Info -->
                            <div class="d-flex flex-column">
                                <h4 class="h6 g-color-black mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                                        Cotton workwear
                                    </a>
                                </h4>
                                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#!">Man</a>
                                <span class="d-block g-color-black g-font-size-17">$11.00</span>
                            </div>
                            <!-- End Product Info -->

                            <!-- Products Icons -->
                            <ul class="list-inline media-body text-right">
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="icon-finance-100 u-line-icon-pro"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item align-middle mx-0">
                                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
                                        data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="icon-medical-022 u-line-icon-pro"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Products Icons -->
                        </div>
                        <!-- End Product -->
                    </div>
                </div>
                <!-- End Products -->

                <hr class="g-mb-60">

                <!-- Pagination -->
                <nav class="g-mb-100" aria-label="Page Navigation">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item hidden-down">
                            <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5"
                                href="#!">1</a>
                        </li>
                        <li class="list-inline-item hidden-down">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                                href="#!">2</a>
                        </li>
                        <li class="list-inline-item g-hidden-xs-down">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                                href="#!">3</a>
                        </li>
                        <li class="list-inline-item hidden-down">
                            <span class="g-width-30 g-height-30 g-color-gray-dark-v5 g-font-size-12 rounded-circle g-pa-5">...</span>
                        </li>
                        <li class="list-inline-item g-hidden-xs-down">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                                href="#!">15</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5 g-ml-15"
                                href="#!" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="list-inline-item float-right">
                            <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page 1 of 15</span>
                        </li>
                    </ul>
                </nav>
                <!-- End Pagination -->
            </div>

        </div>
        <!-- End Content -->

        <!-- Filters -->
        <div class="col-md-3 order-md-1 g-brd-right--lg g-brd-gray-light-v4 g-pt-40">
            <div class="g-pr-15--lg g-pt-60">
                <hr>

                <!-- Pricing -->
                <div class="g-mb-30">
                    <h3 class="h5 mb-3">Pricing</h3>

                    <div class="text-center">
                        <span class="d-block g-color-primary mb-4">$(
                            <span id="rangeSliderAmount3">0</span>)</span>
                        <div id="rangeSlider1" class="u-slider-v1-3" data-result-container="rangeSliderAmount3" data-range="true" data-default="180, 320"
                            data-min="0" data-max="500"></div>
                    </div>
                </div>
                <!-- End Pricing -->

                <hr>



                <hr>


                <hr>

                <!-- Color -->
                <div class="g-mb-30">
                    <h3 class="h5 mb-3">Color</h3>

                    <!-- Checkbox -->
                    <div>
                        <label class="form-check-inline u-check m-0">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-primary rounded-circle"></i>
                            </span>
                        </label>
                        <label class="form-check-inline u-check mb-0 mr-0 g-ml-5">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-beige rounded-circle"></i>
                            </span>
                        </label>
                        <label class="form-check-inline u-check mb-0 mr-0 g-ml-5">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-black rounded-circle"></i>
                            </span>
                        </label>
                        <label class="form-check-inline u-check mb-0 mr-0 g-ml-5">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-yellow rounded-circle"></i>
                            </span>
                        </label>
                        <label class="form-check-inline u-check mb-0 mr-0 g-ml-5">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-blue rounded-circle"></i>
                            </span>
                        </label>
                        <label class="form-check-inline u-check mb-0 mr-0 g-ml-5">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-purple rounded-circle"></i>
                            </span>
                        </label>
                        <label class="form-check-inline u-check mb-0 mr-0 g-ml-5">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-brown rounded-circle"></i>
                            </span>
                        </label>
                        <label class="form-check-inline u-check mb-0 mr-0 g-ml-5">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
                                <i class="d-block g-absolute-centered g-width-16 g-height-16 g-bg-gray-dark-v4 rounded-circle"></i>
                            </span>
                        </label>
                    </div>
                    <!-- End Checkbox -->
                </div>
                <!-- End Color -->

                <hr>

                <!-- Rating -->
                <div class="g-mb-30">
                    <h3 class="h5 mb-3">Rating</h3>

                    <ul class="js-rating u-rating-v1 g-line-height-1 g-font-size-20 g-color-gray-light-v3 mb-0" data-hover-classes="g-color-primary">
                        <li class="g-color-primary click">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="g-color-primary click">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="g-color-primary click">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="g-color-primary click">
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                </div>
                <!-- End Rating -->

                <hr>

                <button class="btn btn-block u-btn-black g-font-size-12 text-uppercase g-py-12 g-px-25" type="button">Reset</button>
            </div>
        </div>
        <!-- End Filters -->
    </div>
</div>
<!-- End Products -->
<app-common-footer></app-common-footer>