<block-ui>
</block-ui>
<app-common-mini-header></app-common-mini-header>


<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-text g-color-primary--hover" routerLink="">Home</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li *ngIf="returnPageUrl" class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-text g-color-primary--hover" [routerLink]="['/' + returnPageUrl, returnSubPageUrl]">{{returnPageUrl | titlecase}}</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li *ngIf="returnSubPageUrl" class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-text g-color-primary--hover" [routerLink]="['/clothes-collection', returnSubPageUrl]">{{returnSubPageUrl | titlecase}}</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span *ngIf="sessionService.selectedProduct">{{sessionService.selectedProduct.name}}</span>
      </li>
    </ul>
  </div>
</section>

<div class="container g-pt-50 u-shadow-v19 ">

  <div class="row">
    <div class="col-lg-7 g-mb-30 g-mb-0--lg">
      <div class="row align-items-center">
        <div class="col-2">
          <div #thumbImageContainer class="text-center u-carousel-v3">
            <div *ngFor="let imgUrl of sessionService.selectedProduct.images; let i = index" class="g-cursor-pointer g-py-5">
              <img #thumbImage class="img-fluid img-thumb-carousel" [class.img-thumb-carousel-active]="i === 0" src="{{imgUrl}}" alt=""
                (click)="showImage(thumbImage.src)">
            </div>
          </div>
        </div>

        <div class="col-10">
          <div class="g-pt-10 g-mb-10">
            <div class="">
              <img #mainImage class="img-fluid w-100 img-carousel xzoom" src="{{sessionService.selectedProduct.images[0]}}" [attr.xoriginal]="sessionService.selectedProduct.images[0]"
                alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="g-px-40--lg">
        <div class="">
          <h4 class="font-cg-bold">
            {{sessionService.selectedProduct.name}} -
            <span>{{sessionService.selectedProduct.brand}}</span>
          </h4>
        </div>

        <div>
          <span class="stars">
            <span *ngFor="let star of getArray(sessionService.selectedProduct.rating)" class="fa fa-star" aria-hidden="true"></span>
          </span>
          <span class="reviews">
            ({{sessionService.selectedProduct.reviews}}&nbsp;reviews)
          </span>
        </div>
        <div class="g-mb-10">
          <span class="g-color-black g-font-weight-500 g-font-size-30 mr-2" [class.g-color-primary]="eligibleDiscount()">{{getPrice()}}</span>
          <s *ngIf="eligibleDiscount()" class="g-color-gray-dark-v4 g-font-weight-500 g-font-size-16">{{this.sessionService.selectedProduct.price.formattedPrice}}</s>
        </div>

        <div id="accordion-01" role="tablist" aria-multiselectable="true">
          <div id="accordion-01-heading-01" class="g-brd-y g-brd-gray-light-v3 py-3" role="tab">
            <h5 class="g-font-weight-400 g-font-size-default mb-0">
              <a class="d-block g-color-gray-dark-v5 g-text-underline--none--hover" href="#accordion-01-body-01" data-toggle="collapse"
                data-parent="#accordion-01" aria-expanded="false" aria-controls="accordion-01-body-01">Details
                <span class="float-right g-pos-rel g-top-3 mr-1 fa fa-angle-down"></span>
                <div *ngIf="sessionService.selectedProduct.newArrival" class="float-right g-px-10 g-mt-3 g-mr-10 g-color-white font-cg-bold g-font-size-12 new-arrival-label">New Arrival</div>
                
              </a>
            </h5>
          </div>
          <div id="accordion-01-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-01-heading-01">
            <div class="g-py-10" style="white-space: pre-line">
              {{sessionService.selectedProduct.description}}
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center g-brd-bottom g-brd-gray-light-v3 py-3" role="tab">
          <h5 class="g-color-gray-dark-v5 g-font-weight-400 g-font-size-default mb-0">Fit</h5>
          <span class="d-block g-font-size-12 g-color-primary--checked">
            {{sessionService.selectedProduct.fit}}
          </span>
        </div>

        <div class="d-flex justify-content-between align-items-center g-brd-bottom g-brd-gray-light-v3 py-3" role="tab">
          <h5 class="g-color-gray-dark-v5 g-font-weight-400 g-font-size-default mb-0">Color</h5>

          <label class="form-check-inline u-check mb-0 ml-auto g-mr-10">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
              <i class="d-block g-absolute-centered g-width-12 g-height-12 g-bg-primary rounded-circle"></i>
            </span>
          </label>
          <label class="form-check-inline u-check mb-0 g-mx-10">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
              <i class="d-block g-absolute-centered g-width-12 g-height-12 g-bg-beige rounded-circle"></i>
            </span>
          </label>
          <label class="form-check-inline u-check mb-0 g-mx-10">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
              <i class="d-block g-absolute-centered g-width-12 g-height-12 g-bg-black rounded-circle"></i>
            </span>
          </label>
          <label class="form-check-inline u-check mb-0 g-ml-10 mr-0">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
            <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-gray-dark-v4--checked rounded-circle">
              <i class="d-block g-absolute-centered g-width-12 g-height-12 g-bg-gray-dark-v4 rounded-circle"></i>
            </span>
          </label>
        </div>

        <div class="d-flex justify-content-between align-items-center g-brd-bottom g-brd-gray-light-v3 py-3" role="tab">
          <h5 class="g-color-gray-dark-v5 g-font-weight-400 g-font-size-default mb-0">Size</h5>

          <label class="form-check-inline u-check mb-0 ml-auto g-mr-15">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
            <span class="d-block g-font-size-12 g-color-primary--checked">
              S
            </span>
          </label>
          <label class="form-check-inline u-check mb-0 g-mx-15">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
            <span class="d-block g-font-size-12 g-color-primary--checked">
              M
            </span>
          </label>
          <label class="form-check-inline u-check mb-0 g-mx-15">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
            <span class="d-block g-font-size-12 g-color-primary--checked">
              L
            </span>
          </label>
          <label class="form-check-inline u-check mb-0 g-mx-15">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
            <span class="d-block g-font-size-12 g-color-primary--checked">
              XL
            </span>
          </label>
          <label class="form-check-inline u-check mb-0 g-ml-15">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
            <span class="d-block g-font-size-12 g-color-primary--checked">
              XXL
            </span>
          </label>
        </div>

        <div class="full-width d-flex justify-content-center g-mx-minus-5 g-mt-30 g-mb-20">
          <div>
            <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="button" (click)="addToCart($event)">
              Add to Cart
              <i class="align-middle ml-2 icon-finance-100 u-line-icon-pro"></i>
            </button>
          </div>
          <div>
            <div class="add-to-fav">
              <i class="align-middle ml-2 icon-medical-022 u-line-icon-pro" style="font-size: 1.7em;"></i>
            </div>
          </div>
        </div>

        <mat-tab-group>
          <mat-tab label="Returns">
            <div class="tab-pane fade show active g-pt-30" id="nav-1-1-default-hor-left--3" role="tabpanel">
              <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">30 days open shop with free-of-charge clothes returning Contact us for
                <a href="#">returning your item</a>.</p>
            </div>
          </mat-tab>
          <mat-tab label="Size Guide">
            <div class="tab-pane g-pt-30" id="nav-1-1-default-hor-left--1" role="tabpanel">
              <table>
                <tbody>
                  <tr class="g-color-gray-dark-v4 g-font-size-12">
                    <td class="align-top g-width-150 g-py-5">Symbols</td>
                    <td class="align-top g-width-50 g-py-5">S</td>
                    <td class="align-top g-width-50 g-py-5">M</td>
                    <td class="align-top g-width-50 g-py-5">L</td>
                    <td class="align-top g-width-50 g-py-5">XL</td>
                    <td class="align-top g-width-50 g-py-5">XXL</td>
                  </tr>
                  <tr class="g-color-gray-dark-v4 g-font-size-12">
                    <td class="align-top g-width-150 g-py-5">UK</td>
                    <td class="align-top g-width-50 g-py-5">6</td>
                    <td class="align-top g-width-50 g-py-5">8</td>
                    <td class="align-top g-width-50 g-py-5">10</td>
                    <td class="align-top g-width-50 g-py-5">12</td>
                    <td class="align-top g-width-50 g-py-5">14</td>
                  </tr>
                  <tr class="g-color-gray-dark-v4 g-font-size-12">
                    <td class="align-top g-width-150 g-py-5">Europe</td>
                    <td class="align-top g-width-50 g-py-5">32</td>
                    <td class="align-top g-width-50 g-py-5">34</td>
                    <td class="align-top g-width-50 g-py-5">36</td>
                    <td class="align-top g-width-50 g-py-5">38</td>
                    <td class="align-top g-width-50 g-py-5">40</td>
                  </tr>
                  <tr class="g-color-gray-dark-v4 g-font-size-12">
                    <td class="align-top g-width-150 g-py-5">US</td>
                    <td class="align-top g-width-50 g-py-5">2</td>
                    <td class="align-top g-width-50 g-py-5">4</td>
                    <td class="align-top g-width-50 g-py-5">6</td>
                    <td class="align-top g-width-50 g-py-5">8</td>
                    <td class="align-top g-width-50 g-py-5">10</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<div class="g-my-45">
  <div class="container g-pb-0">
    <div class="text-center mx-auto g-max-width-600">
      <h2 class="g-color-black mb-4">Related Items</h2>
    </div>

    <div class="font-cg-bold g-font-size-16" style="color: #DE1818">{{errorMessage.text}}</div>
    <app-product-carousel *ngIf="carousel.products && carousel.products.length > 0" [carousel]="carousel"></app-product-carousel>
  </div>
</div>

<div class="g-brd-top g-brd-gray-light-v4">
  <div class="container g-py-30">
    <div class="row justify-content-center">
      <div class="col-md-4 mx-auto g-py-15">
        <div class="media g-px-50--lg">
          <i class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
          <div class="media-body">
            <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Free Shipping</span>
            <span class="d-block g-color-gray-dark-v4">In 2-3 Days</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mx-auto g-brd-x--md g-brd-gray-light-v3 g-py-15">
        <div class="media g-px-50--lg">
          <i class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
          <div class="media-body">
            <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Free Returns</span>
            <span class="d-block g-color-gray-dark-v4">No Shipping Fees</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mx-auto g-py-15">
        <div class="media g-px-50--lg">
          <i class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
          <div class="media-body text-left">
            <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">24/7 Customer Service</span>
            <span class="d-block g-color-gray-dark-v4">Call Any Day Any Time</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-footer></app-common-footer>