.img-thumb-carousel {
    width: 65px;
    object-fit: cover;
    transition:all 0.3s ease;
    opacity:0.5;
}

.img-carousel {
    max-height: 650px;
    object-fit: cover;
}

.img-thumb-carousel-active {
    width: 70px;
    padding: 3px;
    border: 1px solid rgba(253, 126, 20, 0.5);
    border-radius: 15px;
    transition:all 0.3s ease;
    opacity:1;
}

::ng-deep .mat-tab-label, ::ng-deep .mat-tab-label-active {
    min-width: 50px !important;
    padding: 7px!important;
    margin: 0px!important;
}

::ng-deep .mat-tab-body-wrapper, ::ng-deep .mat-tab-header {
    z-index: 0 !important;
}

::ng-deep .mat-tab-labels {
    justify-content: center; /* align items in Main Axis */
    z-index: 99;
}