<app-float-cart></app-float-cart>
<header id="js-header" class="u-header u-header--static u-shadow-v19">
  <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-transition-0_3">
    <div class="container">
      <div class="row justify-content-between align-items-center g-mx-0--lg">
        <div class="col-sm-auto g-hidden-sm-down">
          <ul class="list-inline g-py-14 mb-0">
            <li class="list-inline-item">
              <a class="g-color-black g-color-primary--hover g-pa-3" href="https://www.facebook.com/shopi85/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="g-color-black g-color-primary--hover g-pa-3" href="#!">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="g-color-black g-color-primary--hover g-pa-3" href="#!">
                <i class="fa fa-google"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-auto g-hidden-sm-down g-color-text g-font-weight-400 g-pl-15 g-pl-0--sm g-py-14">
          <i class="icon-communication-163 u-line-icon-pro g-font-size-18 g-valign-middle g-color-black g-mr-10 g-mt-minus-2"></i>
          +46 (0)8 123 45 67
        </div>

        <div class="col-sm-auto g-pos-rel g-py-14">
          <ul class="list-inline g-overflow-hidden g-pt-1 mb-0">
            <li class="list-inline-item">
              <a id="currency-dropdown-invoker-2" class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                href="#!">
                <i class="g-ml-20--md mr-2 fa fa-euro"></i>
                Euro
              </a>
            </li>

            <li class="list-inline-item g-color-gray-light-v3 g-mx-4">|</li>

            <li class="list-inline-item g-mx-4">
              <a id="languages-dropdown-invoker-2" class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                href="#!">
                <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                  <defs>
                    <clipPath id="a">
                      <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                    <g stroke-width="1pt">
                      <path fill="#006" d="M-256 0H768.02v512.01H-256z" />
                      <path d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                        fill="#fff" />
                      <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z" fill="#fff" />
                      <path d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                        fill="#c00" />
                    </g>
                  </g>
                </svg>
                English
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-auto g-pos-rel g-py-14">
          <ul class="list-inline g-overflow-hidden g-pt-1 g-mx-minus-4 mb-0">
            <li class="list-inline-item g-mx-4">
              <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Help</a>
            </li>
            <li class="list-inline-item g-color-gray-light-v3 g-mx-4">|</li>
            <li class="list-inline-item">
              <a id="account-dropdown-invoker-2" class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                href="#!">
                FAQ
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-auto g-pr-15 g-pr-0--sm">
          <div class="d-inline-block g-valign-middle">
            <div class="g-py-10 g-pl-15">
              <a matTooltip="{{welcomeUser}}" routerLink="/user" class="g-color-black g-color-primary--hover g-font-size-17 g-text-underline--none--hover">
                <i class="g-pos-rel g-top-3 icon-finance-067 u-line-icon-pro"></i>
              </a>
            </div>
          </div>
          <div class="d-inline-block g-valign-middle">
            <div class="g-py-10 g-pl-15">
              <a matTooltip="Search..." href="#!" class="g-color-black g-color-primary--hover g-font-size-17 g-text-underline--none--hover">
                <i class="g-pos-rel g-top-3 icon-education-045 u-line-icon-pro"></i>
              </a>
            </div>
          </div>

          <div class="u-basket d-inline-block g-z-index-3">
            <div class="g-py-10 g-px-6">
              <a matTooltip="Favorites" href="#!" class="u-icon-v1 g-color-black g-color-green--hover g-font-size-17 g-text-underline--none--hover">
                <span class="u-badge-v1--sm g-color-white g-bg-green g-font-size-12 g-line-height-1_4 g-rounded-50x g-pa-4" style="top: 6px !important; right: 4px !important;">0</span>
                <i class="icon-medical-022 u-line-icon-pro"></i>
              </a>
            </div>
          </div>
          <div class="u-basket d-inline-block g-z-index-3">
            <div class="g-py-10 g-px-6">
              <span matTooltip="Shopping Cart" class="u-icon-v1 g-color-black g-color-primary--hover g-font-size-17 g-text-underline--none--hover g-cursor-pointer float-cart-icon" (click)="showFloatCart()">
                <span class="u-badge-v1--sm g-color-white g-bg-primary g-font-size-12 g-line-height-1_4 g-rounded-50x g-pa-4" style="top: 6px !important; right: 4px !important;">{{cartService.cartProducts.length}}</span>
                <i class="icon-hotel-restaurant-105 u-line-icon-pro"></i>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
    <div class="container">
      <mat-toolbar class="mat-toolbar-transparent main-nav-bar">
        <span routerLink="" class="g-cursor-pointer outline-none" >
          <img src="./assets/shopi-theme/img/logo/SHOPi-logo.png">
        </span>
        <span class="fill-remaining-space"></span>

        <span>
          <button style="display: none" mat-button color="primary" class="mat-button-bold" [class.mat-button-active]="activeLinks.isHomeActive" (click)="changePage('home')">Home</button>
          <button mat-button color="primary" class="mat-button-bold" [class.mat-button-active]="activeLinks.isManActive" (click)="changePage('man')">Men</button>
          <button mat-button color="primary" class="mat-button-bold" [class.mat-button-active]="activeLinks.isWomanActive" (click)="changePage('woman')">Women</button>
          <button mat-button color="primary" class="mat-button-bold" [class.mat-button-active]="activeLinks.isKidsActive" (click)="changePage('kids')">Kids</button>
          <button mat-button color="accent" class="mat-button-bold" [class.mat-button-hot-active]="activeLinks.isHotDealsActive" (click)="changePage('deals')">Hot Deals</button>
        </span>
      </mat-toolbar>
    </div>
  </div>

</header>