<div class="col-lg-12 mt-4 mb-4">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <div class="mb-4">
        <h3 class="h5 mb-3">Your Cards</h3>
        <ul dnd-sortable-container [sortableData]="cards">
          <li *ngFor="let card of cards; let i = index" class="d-flex justify-content-between align-items-center g-pa-10 mb-3" [style.background-color]="card.background"dnd-sortable [sortableIndex]="i">
            <img class="g-width-12 g-mr-10" src="../../../assets/img/cart/arrow-up-down.png">
            
            <img class="g-width-35" src="../../../assets/img/cart/card_icon.png">
            <span class="g-font-size-14 g-pl-20">{{card.no}}</span>

            <div class="ml-auto">
              <span class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v1 g-color-primary--hover g-font-size-16 g-text-underline--none--hover g-cursor-pointer"
                title="Delete" data-toggle="tooltip" data-placement="top">
                <i class="icon-hotel-restaurant-214 u-line-icon-pro"></i>
              </span>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="col-md-6">
      <div class="g-mb-25">
        <h3 class="h5 mb-3">Add a New Payment Method</h3>
      </div>

      <div class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
        <div class="g-mb-15">
          <div id="accordion-12-heading-01" class="u-accordion__header g-pa-0" role="tab">
            <h5 class="mb-0">
              <a class="d-block g-font-size-13 g-text-underline--none--hover p-0 font-cg-bold" href="#accordion-12-body-01" data-toggle="collapse"
                data-parent="#accordion-12" aria-expanded="false" aria-controls="accordion-12-body-01">
                Add a Card
              </a>
            </h5>
          </div>
          <div id="accordion-12-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-12-heading-01">
            <div class="u-accordion__body g-color-gray-dark-v5 g-pt-20 g-pl-0 g-pr-0 g-pb-0">
              <p class="g-font-size-13">Enter your card information:</p>

              <div class="row g-mx-minus-5 mb-3">
                <div class="col-3 col-md-12 col-lg-3 g-px-5 g-mb-20">
                  <h4 class="h6 g-color-black g-font-weight-400 mb-3">Card Name</h4>
                  <div class="input-group g-pos-rel">
                    <input class="form-control u-form-control g-brd-around g-brd-gray-light-v3 g-brd-primary--focus g-font-size-13 g-rounded-3 g-rounded-left-0 g-pr-40 g-ml-minus-1"
                      type="tel">
                  </div>
                </div>

                <div class="col-4 col-md-12 col-lg-4 g-px-5 g-mb-20">
                  <h4 class="h6 g-color-black g-font-weight-400 mb-3">Card Number</h4>
                  <div class="input-group g-pos-rel">
                    <input class="form-control u-form-control g-brd-around g-brd-gray-light-v3 g-brd-primary--focus g-font-size-13 g-rounded-3 g-rounded-left-0 g-pr-40 g-ml-minus-1"
                      type="tel">
                  </div>
                </div>

                <div class="col-5 col-md-12 col-lg-5 g-px-5 g-mb-20">
                  <h4 class="h6 g-color-black g-font-weight-400 mb-3">Expiration Date</h4>
                  <div class="row g-mx-minus-2">
                    <div class="col g-px-2">
                      <input class="form-control u-form-control g-brd-around g-brd-gray-light-v3 g-brd-primary--focus g-font-size-13 g-rounded-3 g-rounded-right-0"
                        type="tel" placeholder="MM">
                    </div>
                    <div class="col g-px-2">
                      <input class="form-control u-form-control g-brd-around g-brd-gray-light-v3 g-brd-primary--focus g-font-size-13 g-rounded-3"
                        type="tel" placeholder="YYYY">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <button class="btn u-btn-primary g-font-size-13 rounded g-px-18 g-py-10" type="submit">Add Card</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>