<div class="col-lg-12 mt-4 mb-4">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <div class="mb-4">
        <h3 class="h5 mb-3">Your Cards</h3>
        <p class="g-font-size-13">Now you can sort your card preferences by draging them.</p>
        <ul dnd-sortable-container [sortableData]="cards">
          <li *ngFor="let card of cards; let i = index" class="d-flex justify-content-between align-items-center g-pa-10 mb-3 payment-card"
            [style.background-color]="card.background" dnd-sortable [sortableIndex]="i">

            <span class="g-font-size-14 g-pl-60">{{card.no}}</span>

            <div class="ml-auto">
              <span class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v1 g-color-primary--hover g-font-size-16 g-text-underline--none--hover g-cursor-pointer"
                title="Delete" data-toggle="tooltip" data-placement="top">
                <i class="icon-hotel-restaurant-214 u-line-icon-pro"></i>
              </span>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="col-md-6">
      <div class="g-mb-25">
        <h3 class="h5 mb-3">Add a New Payment Method</h3>
      </div>

      <div class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
        <div class="g-mb-15">
          <div id="accordion-12-heading-01" class="u-accordion__header g-pa-0" role="tab">
            <h5 class="mb-0">
              <a class="d-block g-font-size-13 g-text-underline--none--hover p-0 font-cg-bold" href="#accordion-12-body-01" data-toggle="collapse"
                data-parent="#accordion-12" aria-expanded="false" aria-controls="accordion-12-body-01">
                Add a Card
              </a>
            </h5>
          </div>

          <form [formGroup]="addCardForm" (ngSubmit)="onSubmit()">
            <div id="accordion-12-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-12-heading-01">
              <div class="u-accordion__body g-color-gray-dark-v5 g-pt-20 g-pl-0 g-pr-0 g-pb-0">
                <p class="g-font-size-13">Enter your card information:</p>

                <div class="row g-mx-minus-5 mb-3">
                  <div class="col-lg-3 g-mb-20 g-pa-0 g-pr-5">
                    <div class="input-group g-pos-rel">
                      <mat-form-field class="card-name-field">
                        <input matInput placeholder="Name" [formControl]="name" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="name.hasError('required')">
                          Name is
                          <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-lg-4 g-mb-20 g-pa-0 g-pr-5">
                    <mat-form-field class="card-no-field">
                      <input matInput placeholder="Card No." [formControl]="number" [errorStateMatcher]="matcher">
                      <mat-error *ngIf="!number.hasError('required')">
                        Incorrect card
                      </mat-error>
                      <mat-error *ngIf="number.hasError('required')">
                        Card No. is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-4 g-mb-20 g-pa-0">
                    <div class="row g-mx-minus-2">
                      <mat-form-field class="card-mm-field">
                        <input matInput placeholder="MM" [formControl]="month" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="month.hasError('required')">
                          <strong>MM*</strong>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="card-yyyy-field">
                        <input matInput placeholder="YYYY" [formControl]="year" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="year.hasError('required')">
                          <strong>YYYY*</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button class="btn u-btn-primary g-font-size-13 rounded g-px-18 g-py-10" type="submit">Add Card</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>