<div class="font-cg-bold g-font-size-16" style="color: #DE1818">{{errorMessage.text}}</div>
<div class="row g-mx-minus-10">
  <div *ngFor="let product of products" class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
    <div class="u-shadow-v21">
      <div class="g-pos-rel">
        <!-- Product Image -->
        <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3" data-infinite="true" data-fade="true" data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-white g-color-primary--hover g-font-size-18 g-mb-45"
          data-arrow-left-classes="fa fa-angle-left g-left-5" data-arrow-right-classes="fa fa-angle-right g-right-5">
          <div *ngFor="let image of product.images" class="js-slide img_test">
            <img class="img-fluid" style="width: 650px; object-fit: cover;" [src]="image" alt="">
          </div>
        </div>
        <!-- End Product Image -->

        <!-- Product Info -->
        <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
          <!-- Checkbox -->
          <ul class="list-inline g-ml-minus-10 mb-1">
            <li class="list-inline-item g-mx-10">
              <label class="form-check-inline u-check">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
                <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-white--checked rounded-circle g-absolute-centered--y g-left-0">
                  <i class="d-block g-absolute-centered g-width-10 g-height-10 g-bg-bluegray rounded-circle"></i>
                </span>
              </label>
            </li>
            <li class="list-inline-item g-mx-10">
              <label class="form-check-inline u-check">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
                <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-white--checked rounded-circle g-absolute-centered--y g-left-0">
                  <i class="d-block g-absolute-centered g-width-10 g-height-10 g-bg-white rounded-circle"></i>
                </span>
              </label>
            </li>
            <li class="list-inline-item g-mx-10">
              <label class="form-check-inline u-check">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline2_1" type="radio">
                <span class="d-block u-check-icon-checkbox-v4 g-brd-transparent g-brd-white--checked rounded-circle g-absolute-centered--y g-left-0">
                  <i class="d-block g-absolute-centered g-width-10 g-height-10 g-bg-brown rounded-circle"></i>
                </span>
              </label>
            </li>
          </ul>
          <!-- End Checkbox -->

          <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
            <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="#!">{{product.name}}</a>
          </h2>
          <span class="g-color-white g-font-weight-600 g-font-size-20">{{product.price.amount}}</span>
        </div>
        <!-- End Product Info -->
      </div>

      <!-- Product Size -->
      <div class="g-bg-white g-pa-20">
        <h4 class="g-font-size-11 text-center text-uppercase">Choose Size</h4>

        <div class="d-flex justify-content-between align-items-center">
          <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
            title="Add to Wishlist" data-toggle="tooltip" data-placement="top">
            <i class="icon-medical-022 u-line-icon-pro"></i>
          </a>

          <div class="col-7 g-pa-0--lg g-pa-0--sm g-pa-0--md">
            <div class=" text-center g-rounded-50 g-bg-gray-light-v5 g-py-3">
              <div class="mx-auto list-inline-item">
                <label class="form-check-inline u-check mb-0 mr-0">
                  <input class="g-hidden-xs-up" name="radInline3_1" type="radio">
                  <span class="d-block u-check-icon-checkbox-v4 g-brd-none g-color-primary--hover g-font-size-10">
                    S
                  </span>
                </label>
              </div>
              <div class="mx-auto list-inline-item">
                <label class="form-check-inline u-check mb-0 mr-0">
                  <input class="g-hidden-xs-up" name="radInline3_1" type="radio">
                  <span class="d-block u-check-icon-checkbox-v4 g-brd-none g-color-primary--hover g-font-size-10">
                    M
                  </span>
                </label>
              </div>
              <div class="mx-auto list-inline-item">
                <label class="form-check-inline u-check mb-0 mr-0">
                  <input class="g-hidden-xs-up" name="radInline3_1" type="radio">
                  <span class="d-block u-check-icon-checkbox-v4 g-brd-none g-color-primary--hover g-font-size-10">
                    L
                  </span>
                </label>
              </div>
              <div class="mx-auto list-inline-item">
                <label class="form-check-inline u-check mb-0 mr-0">
                  <input class="g-hidden-xs-up" name="radInline3_1" type="radio">
                  <span class="d-block u-check-icon-checkbox-v4 g-brd-none g-color-primary--hover g-font-size-10">
                    XL
                  </span>
                </label>
              </div>
              <div class="mx-auto list-inline-item">
                <label class="form-check-inline u-check mb-0 mr-0">
                  <input class="g-hidden-xs-up" name="radInline3_1" type="radio">
                  <span class="d-block u-check-icon-checkbox-v4 g-brd-none g-color-primary--hover g-font-size-10">
                    XXL
                  </span>
                </label>
              </div>
            </div>
          </div>

          <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#!"
            title="Add to Cart" data-toggle="tooltip" data-placement="top">
            <i class="icon-finance-100 u-line-icon-pro"></i>
          </a>
        </div>
      </div>
      <!-- End Product Size -->
    </div>
  </div>
</div>