<div class="row">
  <div class="col-lg-3 g-pl-0">
    <div class="d-flex justify-content-center profile-info full-width">
        <img class="profile_image" src="{{data.src}}">
    </div>
    <div class="d-flex justify-content-center profile-info full-width font-cg-bold g-color-primary--hover g-cursor-pointer g-font-size-13">{{data.name | summary:15}}</div>
  </div>

  <div class="col-lg-9 g-pl-0">
    <p class="final-checkout-info g-font-size-13">
      By placing the order, you accept all our
      <span class="font-cg-bold g-color-primary--hover g-cursor-pointer ">
        terms, cookies, privacy policy, sales and delivery conditions.
      </span>
    </p>
  </div>
</div>
<div class="row d-flex justify-content-center g-mt-20">
  <button class="btn u-btn-lightred g-font-size-12 text-uppercase g-py-12 g-px-15 font-cg-bold g-font-size-15 g-mx-20" (click)="onNoClick()">Back</button>
  <button class="btn u-btn-teal g-font-size-12 text-uppercase g-py-12 g-px-15 font-cg-bold g-font-size-15" [mat-dialog-close]="'confirm'" cdkFocusInitial>GO TO SECURE PAYMENT</button>
</div>