<app-home-header></app-home-header>
<div class="u-header__section u-header__section--light g-bg-white g-transition-0_3">
  <nav class="navbar navbar-expand-lg g-pb-0">
    <div class="container">
      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row g-pt-0--lg d-flex divider-solid-bottom">
        <ul class="navbar-nav full-width justify-content-center font-cg-bold g-py-10" >
          <!-- Categories - Mega Menu -->
          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a class="nav-link g-color-secondary g-py-0" href="#!">
              Sale
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-py-0" href="#!">
              New Arrival
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-py-0" href="#!">
              Clothing
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-py-0" href="#!">
              Shoes
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-py-0" href="#!">
              Sport
            </a>
          </li>
          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a class="nav-link g-color-gray-dark-v3 g-color-primary--hover g-py-0" href="#!">
              Accessories & Bags
            </a>
          </li>
        </ul>
      </div>
      <!-- End Navigation -->
    </div>
  </nav>
</div>

<div class="container">
  <div class="w-100 hs-mega-menu u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30"
    aria-labelledby="mega-menu-label-3">
    <div class="row">
      <div class="col-sm-6 col-lg-2 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="mb-5">
          <span class="d-block g-font-weight-500 text-uppercase mb-2">Home Decor</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Wall Decor</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Pillows &amp; Throws</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Window Treatments</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Mirrors</a>
            </li>
          </ul>
        </div>
        <!-- End Links -->

        <!-- Links -->
        <span class="d-block g-font-weight-500 text-uppercase mb-2">Industrial Decor</span>

        <ul class="list-unstyled">
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Letter Block</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Glass Sconce</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Risa Storage Jar</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Model Plane</a>
          </li>
        </ul>
        <!-- End Links -->
      </div>

      <div class="col-sm-6 col-lg-3 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="mb-5">
          <span class="d-block g-font-weight-500 text-uppercase mb-2">Kitchen &amp; Tabletop</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Coffee &amp; Tea</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Cooking &amp; Baking</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Cutlery &amp; Cutting</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Serving</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Food Storage</a>
            </li>
          </ul>
        </div>
        <!-- End Links -->

        <div class="mb-5 g-mb-0--lg">
          <!-- Links -->
          <span class="d-block g-font-weight-500 text-uppercase mb-2">Office</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Writing Instruments</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Bookcases</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Filing Cabinets</a>
            </li>
          </ul>
          <!-- End Links -->
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 g-mb-30 g-mb-0--md">
        <!-- Links -->
        <div class="mb-5">
          <span class="d-block g-font-weight-500 text-uppercase mb-2">Modern Lighting</span>

          <ul class="list-unstyled">
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Bridgers 59" Floor Lamp</a>
            </li>
            <li>
              <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Miltiades 27" Table Lamp</a>
            </li>
          </ul>
        </div>
        <!-- End Links -->

        <!-- Links -->
        <span class="d-block g-font-weight-500 text-uppercase mb-2">Coastal Living Room Furniture</span>

        <ul class="list-unstyled">
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Washington Console Table</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Anfield Coffee Table</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Banbury 2 Drawer End Table</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Landsdowne 53" Tv Stand</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Sevan Swivel Barrel Chair</a>
          </li>
          <li>
            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#!">Enfield Credenza</a>
          </li>
        </ul>
        <!-- End Links -->
      </div>
    </div>
  </div>
</div>