<div class="fav-view">
  <mat-tab-group>
    <mat-tab label="Favorites">
      <ng-template mat-tab-label>
        <mat-icon class="icon-medical-022 u-line-icon-pro"></mat-icon>
      </ng-template>
      <div class="tab-pane fade show active g-pa-15">
        <table>
          <tbody>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">S</td>
              <td class="align-top g-width-50 g-py-5">M</td>
            </tr>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">6</td>
              <td class="align-top g-width-50 g-py-5">8</td>
            </tr>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">32</td>
              <td class="align-top g-width-50 g-py-5">34</td>
            </tr>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">2</td>
              <td class="align-top g-width-50 g-py-5">4</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Views">
      <ng-template mat-tab-label>
        <mat-icon  class="icon-medical-054"></mat-icon>
      </ng-template>
      <div class="tab-pane g-pa-15">
        <table>
          <tbody>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">S</td>
              <td class="align-top g-width-50 g-py-5">M</td>
            </tr>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">6</td>
              <td class="align-top g-width-50 g-py-5">8</td>
            </tr>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">32</td>
              <td class="align-top g-width-50 g-py-5">34</td>
            </tr>
            <tr class="g-color-gray-dark-v4 g-font-size-12">
              <td class="align-top g-width-50 g-py-5">2</td>
              <td class="align-top g-width-50 g-py-5">4</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>