<div class="g-overflow-hidden">
  <div id="rev_slider_1086_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="woobig1" data-source="gallery"
    style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

    <div #slider id="rev_slider_1086_1" class="rev_slider fullwidthabanner" data-version="5.4.1">
      <ul>
        <li *ngFor="let slide of slides; index as i" data-transition="slideremovehorizontal" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" [attr.data-thumb]="slide.thumb"
          data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"
          data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
          data-param8="" data-param9="" data-param10="" data-description="">

          <img src="../../assets/img/bg/secondary.png" [attr.data-lazyload]="slide.thumb"
            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">

          <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left','left','left','left']"
            data-hoffset="['30','30','30','30']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-width="['430','430','430','420']"
            data-height="540" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1200,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]" style="z-index: 5;text-transform:left;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>

          <div class="tp-caption Woo-TitleLarge   tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['60','60','60','60']" data-width="370" data-height="none" data-whitespace="normal"
            data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">
            {{slide.productName}}
          </div>

          <div class="tp-caption Woo-Rating   tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['160','160','160','160']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">
            <i *ngFor="let star of slide.posStars" class="fa fa-star" style="color:#ffc321;"></i>
            <i *ngFor="let star of slide.negStars" class="fa fa-star-o" style="color:#ccc;"></i>
            ({{slide.reviews}} customer reviews)
          </div>

          <div class="tp-caption Woo-Rating   tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['225','225','225','225']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 370px; max-width: 370px; white-space: normal; line-height: 22px;text-transform:left;">
            {{slide.description}}
          </div>

          <div class="tp-caption Woo-SubTitle   tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['60','59','59','55']"
            data-y="['top','top','top','top']" data-voffset="['350','350','350','350']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; min-width: 370px; max-width: 370px; white-space: normal;text-transform:left;">
            STARTING FROM
          </div>

          <div class="tp-caption Woo-PriceLarge   tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['60','60','60','55']"
            data-y="['top','top','top','top']" data-voffset="['380','380','380','380']" data-width="370" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; min-width: 370px; max-width: 370px; white-space: normal; font-size: 40px; line-height: 40px;text-transform:left;">
            4 500 kr
          </div>

          <div class="tp-caption Woo-ProductInfo rev-btn  tp-resizeme g-brd-gray-light-v4 g-bg-secondary"
            data-x="['left','left','left','left']" data-hoffset="['139','139','139','132']" data-y="['top','top','top','top']"
            data-voffset="['449','449','449','450']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(221, 221, 221, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 11; white-space: nowrap;text-transform:left;background-color:rgba(238, 238, 238, 1.00);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"
            routerLink="/clothes-collection/men">
            <i class="pe-7s-look" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Product Info
          </div>

          <div class="tp-caption Woo-AddToCart rev-btn tp-resizeme g-brd-primary g-color-white g-bg-primary"
            data-x="['left','left','left','left']" data-hoffset="['142','142','142','137']" data-y="['top','top','top','top']"
            data-voffset="['500','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
            data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:left;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(243, 168, 71, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[12,12,12,12]" data-paddingright="[75,75,75,75]"
            data-paddingbottom="[12,12,12,12]" data-paddingleft="[50,50,50,50]" style="z-index: 12; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"
            routerLink="/clothes-collection/men">
            <i class="pe-7s-cart" style="font-size:25px; float: left; margin-top: -6px; margin-right: 6px;"></i>
            Add to Cart
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
</div>